.jumbotron{
    background-color: #DCDCDC; /* Gainsbro */
    color: #000000;
    padding: 100px 25px;
}


.container-fluid {
	padding: 60px 50px;
}


.bg-grey {
    background-color: #f6f6f6;    
}

.navbar {
    margin-bottom: 0;
    background-color: #DCDCDC;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #000000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000000 !important;
}