:root {
    /*--header-font-style: "Consolas";*/
  --header-font-style: "Consolas";
  --header-text-color:  "silver";
  --header-text-weight: bold;
  --body-font-style: "Georgia";
  --vertical-menu-style: "Georgia";
}

body {
 font-family: var(--body-font-style);
 font-size: 18px;
 line-height: 1.5;
 color: #3b3a3a;
 font-weight: 300;
 margin: 0;
 padding: 0;
 background-color: #F0F0F0;
 /*background-image: url("../images/circles-light.png"); */
}

a {
 color: #428bca;
 text-decoration: none;
}

a:hover {
 color: #000;
 text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: auto\9; /* ie8 */
}

h1 {
    font: 30px var(--header-font-style);
    color: var(--header-text-color);
    text-transform: uppercase;
    font-weight: var(--header-text-weight)!important;
}

h2 {
    font: 25px var(--header-font-style);
    color: var(--header-text-color);
    font-weight: var(--header-text-weight)!important;
}

h3 {
    font: 20px var(--header-font-style);
    color: var(--header-text-color);
    font-weight: var(--header-text-weight)!important;
}

p {
    color: #000;
    margin: 5px 0;
}

pre code {
  white-space: pre;
  overflow-x: auto;
  display: inline-block;
  min-width: 100%;
}

.section-title {
    font: 23px "Georgia";
    font-weight: 400;
    padding: 15px 25px;
    color: white;
    background-color: #008B8B;
    text-align: center;
}


.section-buttons {
  font: 20px "Georgia";
  font-weight: bold !important;
  font-style: italic !important;
  padding: 15px 25px;
  color: black;
  background: linear-gradient(white, silver);
  border-color: black;
}

.container-fluid {
	padding: 15px 15px;
}

.navbar {
    margin-bottom: 0;
    background: linear-gradient(white, #D3D3D3);
    z-index: 9999;
    border: 0;
    font-family: var(--header-font-style);
    font-size: 18px !important;
    font-weight: 900;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    padding: 3px 3px;
}

.navbar-logoimg {
    float: left;
}

.navbar li a, .navbar .navbar-brand {
    text-transform: uppercase;
    color: #008B8B !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff !important;
    color: red !important;
}

.navbar-default .navbar-toggle {
    color: #000000 !important;
    border: 0;
}

/*
.collapsed{
  background-color: transparent;
}
*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: #008B8B;
    height: 4px;
    border: 0;
}

.navbar-collapse {
    text-align: center;
}

.vertical-menu {
    font-size: 20px;
    font-family: var(--vertical-menu-style);
    text-align: left;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.vertical-menu-title {
    padding: 5px;
}

.vertical-menu a {
    font-size: 15px;
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 5px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border-bottom: 1px solid gainsboro;
}

.vertical-menu a:hover {
    background-color: #DCDCDC; /* Dark grey background on mouse-over */
}

.affix {
      top: 10px;
      z-index: 9999 !important;
}

.left {
	position: absolute;
	left: 5px;
	padding:10px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.slideanim {visibility:hidden;}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    .affix {
        position: static;
    }

}

@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
